<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrinkto-fit=no">

    <title>Hello, world!</title>
</head>
<body>
<div class="container">
    <form role="form" action="/customers/new" th:object="${customerForm}"
          method="post">
        <div class="form-group">
            <label th:for="u_id">닉네임</label>
            <input type="text" th:field="*{user_id}" class="form-control"
                   placeholder="사용할 아이디를 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="name">이름</label>
            <input type="text" th:field="*{name}" class="form-control"
                   placeholder="이름을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="year">탄생년도</label>
            <input type="number" th:field="*{year}" class="form-control"
                   placeholder="출생년도를 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="month">탄생월</label>
            <input type="number" th:field="*{month}" class="form-control"
                   placeholder="출생월를 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="day">출생일</label>
            <input type="number" th:field="*{day}" class="form-control"
                   placeholder="출생일 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="managing">관리자</label>
            <input type="text" th:field="*{status}" class="form-control"
                   placeholder="일반 회원 = 1, 관리자 = 2">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
</div> <!-- /container -->
</body>
</html>