<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main_page</title>
    <link rel="stylesheet"
          th:href="@{index_style.css}"
          href="index_style.css">
    <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous">
    </script>
</head>
<body>
<section class="login-form">
    <h1>54A+ CINEMA</h1>
    <form name="login" th:action method="post">
        <p class=int-area>
            Username <input type="text" name="userid" class="formcontrol"/>
        </p>
        <p class=int-area>
            Password <input type="password" name="userpassword"/>
        </p>
        <div class="btn-area">
            <input class="button" type="button"

                   onclick="check(this.form)" value="Login"/>
        </div>
        <div class = "btn-area">
            <button id = "btn" type = "예약 확인"
                    th:href="@{/test}"
                    >test</button>
        </div>
    </form>
    <div class="caption">
        <a href="">빠른 예매 확인</a>
    </div>
</section>

<script>
    function check(form) {
        if (form.userid.value != null && form.userpassword.value == "0") {
            var userId = form.userid.value;
            location.href = ("../admin/admin.html");
            th:location.href="/admin";
        } else if (form.userid.value != null && form.userpassword.value == "1") {
            var adminId = form.userid.value;
            location.href = ("../customer/customer.html");
            th:location.href="/customer";
        } else {
            alert("Error UserID or Password");
        }
    }
</script>
</body>
</html>