@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}
body {
    font-family: 'Do Hyeon', sans-serif;
    display : flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("static/background.webp") no-repeat center;
    background-size: cover;
}

body::before {
    content: "";
    position: absolute; z-index: 1;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0,0,0, .85);
}

.info-form {position: relative; z-index: 2;}
.info-form h1 {
    font-size: 32px; color: #fff;
    text-align: center;
    margin-bottom: 10px;
}

.info{
    margin-top: 20px;
    color:black;
    background-color: white;
    text-align: left;
    width: 300px;
    height: 40px;
    font-size: 20px;
    padding-top:9px;
    padding-bottom:5px;
    padding-left:5px;
}