
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Jua&family=Noto+Sans+KR&display=swap');
* {margin: 0; padding: 0; box-sizing: border-box;}
body {
    font-family: 'Do Hyeon', sans-serif;
    display : flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("background.webp") no-repeat center;
    background-size: cover;
}

body::before {
    content: "";
    position: absolute; z-index: 1;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0,0,0, .85);
}

.Select-form {position: relative; z-index: 2;}
.Select-form h1 {
    font-size: 32px; color: #fff;
    text-align: center;
    margin-bottom: 60px;
}

.btn-area {margin-top: 30px;}
.btn-area button {
    width: 400px; height: 55px;
    background: red;
    color:#fff;
    font-size: 23px;
    border:none;
    border-radius: 25px;
    cursor: pointer;
}



