<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>customer_info_page</title>
    <link rel="stylesheet"
          th:href="@{/css/customer_info.css}"
          href="customer_info.css">
    <script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous">
    </script>
</head>
<body>
    <section class = "info-form">
        <h1>유저 정보</h1>
        <div class = "info">
            ID:
        </div>
        <div class = "info">
            NAME:
        </div>
        <div class = "info">
            BIRTH:
        </div>
    </section>
</body>
</html>