<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin_check</title>
    <link rel="stylesheet"
          th:href="@{/css/customer_check.css}"
          href="customer_check.css">

</head>
<body>
    <section class = "info-form">
        <h1>예약 확인</h1>
        <div class = "info">
            영화관:
        </div>
        <div class = "info">
            영화시간:
        </div>
        <div class = "info">
            영화제목:
        </div>
        <div class = "info">
            좌석:
        </div>

    </section>
</body>
</html> 