<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin_check</title>
    <link rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}"
          href="customer_check.css">

</head>
<body>
<!--    <section class = "info-form">-->
<!--        <h1>예약 확인</h1>-->
<!--        <div class = "info">-->
<!--            영화관:-->
<!--        </div>-->
<!--        <div class = "info">-->
<!--            영화시간:-->
<!--        </div>-->
<!--        <div class = "info">-->
<!--            영화제목:-->
<!--        </div>-->
<!--        <div class = "info">-->
<!--            좌석:-->
<!--        </div>-->

<!--    </section>-->

<div>
    <form th:action method="post">
        <table class="table">
            <th>영화 제목</th>
            <th>상영 시각</th>
            <th>상영 시간</th>
            <th>영화관</th>
            <th>상영관</th>
            <tr th:each="info : ${list}">
                <td th:text="|${info.playingMovie.playingMovie_name}|"></td>
                <td th:text="|${info.playingMovie.playLocalDateTime}|"></td>
                <td th:text="|${info.playingMovie.playingTime} 분|"></td>
                <td th:text="|${info.playingMovie.cinema.cinema_name} 지점|"></td>
                <td th:text="|${info.playingMovie.theater.theater_num} 관|"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html> 